PORT=5000
MONGO_URI=mongodb://localhost:27017/hostel-community

JWT_SECRET=YOCaQnpeSM1tPw+ipe6szCulpMys6ryUa31kgxweQHWRFtV+//m3lseQj8jEou3x
JWT_EXPIRES_IN=7d


# for media uploads of Events and Drive Links
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=your_email_user
EMAIL_PASSWORD=your_email_password

FRONTEND_URL=http://localhost:5173


# S3/MinIO Configuration (for media uploads of Gallery and request Upload page)
MINIO_ACCESS_KEY=
MINIO_ENDPOINT=
MINIO_REGION=
MINIO_SECRET_KEY=
